.footer-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem 0; /* Simplified padding */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it spans the full width */
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.footer-container.show {
    transform: translateY(0) !important; /* Move to final position */
  }
  
.footer-container.animate {
    transition: transform 1s ease-in-out; /* Transition effect */
    transform: translateY(100%);
  }
