.hero-container {
    position: relative; /* Positioning context for absolutely positioned elements */
    height: calc(100vh - 200px); /* Adjusted height to leave space for footer */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align content to the bottom */
    padding-left: 100px; /* Adjust left padding */
    padding-bottom: 50px;
    margin-bottom: 45px;
  }
  
  .hero-container > h1 {
    color: black;
    font-size: 48px;
    font-family: 'Poppins';
    font-weight: 700;
    margin-top: 0; /* Remove top margin */
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: black;
    font-size: 18px;
    font-family: 'Poppins';
  }

  .photo-holder {
    z-index: -2;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: flex-end; /* Center the image horizontally */
    align-items: flex-end; /* Center the image vertically */
    bottom: 0; /* Align at the bottom */
    position: absolute;
    overflow: hidden;
  }
  
  .photo-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: block;
    object-fit: cover;
  }
  