.mobile-container {
    background-color: rgb(0, 0, 0);
    padding: 1rem 0; /* Simplified padding */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it spans the full width */
    bottom: 0;
    position: fixed; /* Ensure it positions relative to the flow */
    overflow: hidden;
}
